body {
    font-family: "Arial", sans-serif;
}

#name-div {
    font-family: "Georgia", serif;
    font-variant: small-caps;
    font-weight: bold;
    border-bottom: 1px black solid;
    margin: 20px 20px;
}

.section-name {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.section-name::after {
    content: ':';
}

.ingredient-section {
    font-weight: bold;
    list-style: none;
    padding-left: 38px;
    text-indent: -18px;
    padding-right: 20px;
}

#steps-list {
    padding-left: 40px;
    padding-right: 20px;
}

/* laptop or tablet */
@media screen and (min-width: 600px) {

    img {
        width: 50vw;
        height: 300px;
        object-fit: cover;
    }

    #name-div {
        font-size: 32px;
    }

    #ingredients {
        font-size: 16px;
    }

    .ingredient-section {
        column-width: 40vw;
    }

    .ingredient {
        padding-bottom: 6px;
        padding-right: 20px;
    }

    .step {
        font-size: 16px;
        padding-bottom: 8px;
    }
}

/* phone */
@media screen and (max-width: 600px) {

    img {
        margin: 0px 40px;
        width: 80%;
        height: 35vh;
        object-fit: cover;
    }

    #name-div {
        font-size: 40px;
        font-weight: bold;
    }

    #ingredients {
        font-size: 20px;
    }

    .ingredient-section {
        column-width: auto;
    }

    .ingredient {
        padding-bottom: 10px;
        padding-right: 20px;
    }

    .step {
        font-size: 20px;
        padding-bottom: 10px;
    }
}
