body {
    font-family: "Arial", sans-serif;
}

#image {
    height: 35vh;
    object-fit: cover;
    width: 70vw;
}

#name-div {
  border-bottom: 1px black solid;
    font-family: "Georgia", serif;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    margin: 20px;
}

.ingredient-section {
    column-width: 40vw;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    padding-left: 38px;
    padding-right: 20px;
    text-indent: -18px;
}

.section-name {
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.section-name::after {
    content: ':';
}

.ingredient {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 20px;
}

#steps-list {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 40px;
}

.step {
    font-size: 18px;
    padding-bottom: 10px;
}
